.wrapper {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin: 20px 0;
}

.wrapper button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.page-button {
  background-color: white;
  color: var(--active);
  border: 1px solid var(--active);
}

.active {
  background-color: var(--active);
  color: white;
}
