.wrapper {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  .rating {
    margin-bottom: 20px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
  }
  .description {
    .text {
      width: 100%;
      height: 80px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      &:focus {
        border: 1px solid var(--active);
        outline: none;
      }
    }
    .submit {
      height: 80px;

      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
