.coupon {
  margin: 40px 0px;
  height: 42px;
  display: flex;
  align-items: center;

  .apply-coupon {
    width: 150px;
    height: 100%;
    background-color: #505050;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.1s ease, color 0.1s ease;

    &:hover {
      background-color: var(--active);
      color: white;
    }

    &:active {
      background-color: var(--active) !important; /* Màu nền khi giữ chuột */
      color: white !important;
    }
  }

  input {
    margin-right: 10px;
    height: 100%;
    border: 1px solid #e2e2e2;
    padding: 0 10px;
  }
}

.total {
  @media (max-width:576px) {
    width: auto;
    display:flex;
    flex-direction: column;
    height:auto;

    input {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
    }
  }
  @extend .coupon;

  h1 {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    width: 189px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 100%;
    border: 1px solid #e2e2e2;
    padding: 0 10px;
  }

  .checkout-btn {
    width: 150px;
    height: 42px;
    background-color: #505050;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.1s ease, color 0.1s ease;

    &:hover {
      background-color: var(--active);
      color: white;
    }

    &:active {
      background-color: var(--active) !important; /* Màu nền khi giữ chuột */
      color: white !important;
    }
  }
}
