.wrapper {
  width: 100%;
  position: relative; /* Đặt vị trí tương đối cho container */
  display: inline-block; /* Đảm bảo nội dung không vượt khung */
  padding: 0;
  margin-bottom: 100px;
}

.img {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.title {
  position: absolute;
  top: 50%; /* Đặt ở giữa chiều cao */
  left: 50%; /* Đặt ở giữa chiều rộng */
  transform: translate(-50%, -50%); /* Căn giữa theo trục X và Y */
  color: black; /* Màu chữ hiển thị trên hình ảnh */
  font-size: 80px; /* Kích thước chữ */
}
